nav {
  position: fixed;
  top: 0;
  background-color: #333;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
  flex-wrap: wrap;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 1rem 0;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 30%;
}

.logo-container {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-basis: 70%;
}

.list-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

nav li {
  padding-left: 2rem;
}

nav a {
  color: white;
  text-decoration: none;
}

.break {
  flex-basis: 100%;
  flex-grow: 1;
}

#searchbar {
  margin-top: 1rem;
  margin-bottom: 1rem;
  flex-wrap: wrap;
}

#searchbar input {
  height: 2rem;
  width: 750px;
  max-width: 800px;
  padding: 0.5rem;
}

#searchbar button {
  height: 1.9rem;
  width: 50px;
  border: 0;
  outline: none;
}